body {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bgc-white);
}
:root {
  --accent-color: #2196f3;
  --primary-color: #212121;
  --secondary-color: #757575;
  --titles-color: #212121;
  --bgc-dark: #2f303a;
  --bgc-gray: #f5f4fa;
  --bgc-white: #ffffff;
}
.list {
  list-style: none;
}

.page-header {
  background-color: var(--bgc-white);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.page-header a,
.portfolio-examples-list a {
  text-decoration: none;
  color: var(--primary-color);
}
.page-header a:hover,
.page-header a:focus,
.page-footer a:hover,
.page-footer a:focus,
.header-list .current {
  color: var(--accent-color);
}
.logo:hover {
  text-decoration: underline;
}
.header-contacts-list a {
  color: var(--secondary-color);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
.logo span {
  color: #2196f3;
}
/* ГЕРОЙ */
.hero {
  background: var(--bgc-dark);
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.order-btn {
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
}
/* ОСОБЕННОСТИ */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.skills,
.about {
  background-color: var(--bgc-white);
}
.skills h3 {
  color: var(--titles-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.skills p {
  color: var(--secondary-color);
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ABOUT */
.section-title {
  color: var(--titles-color);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
/* КОМАНДА */
.team {
  background-color: var(--bgc-gray);
}
.team li {
  background-color: var(--bgc-white);
}
.team-list {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}
.team h3 {
  color: var(--titles-color);
  font-weight: 500;
  font-size: inherit;
}
.team p {
  /* font-weight: 400; */
  color: var(--secondary-color);
}

/* ФУТЕР */
.page-footer {
  background-color: var(--bgc-dark);
}
.page-footer a {
  text-decoration: none;
  color: #ffffff;
}
.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  /* font-weight: 400; */
  letter-spacing: 0.03em;
  font-style: normal;
}
.footer-contacts-item .footer-link {
  color: rgba(255, 255, 255, 0.6);
}
/* СТОРІНКА "ПОРТФОЛІО" */
/* КНОПКИ */
.portfolio-btn {
  background-color: var(--bgc-gray);
  color: var(--titles-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
/* ПРИКЛАДИ РОБІТ */
.portfolio-examples-list h2 {
  color: var(--titles-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item {
  background-color: var(--bgc-white);
}

.portfolio-examples-list .portfolio-examples-description {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
